<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_text.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @user_text.text %>
</p>

<%= link_to 'Edit', edit_user_text_path(@user_text) %> |
<%= link_to 'Back', user_texts_path %>
