<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_text.name %>
</p>

<p class="test-song">
  <strong>Text:</strong>
  <%= @user_text.custom_text %>
</p>

<%= link_to 'Edit', edit_user_text_path(@user_text) %> |
<%= link_to 'Destroy', @user_text, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_texts_path %>
